/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.bg {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 0;
    height: 100vh;
}
@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
@keyframes float-neg {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(15px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
video{
    position: absolute;
    z-index: 10;
    box-shadow: 0px 0px 10px #fff;
    transform: translatey(0px);
	
}

.v01{
    width: 400px;
    height: auto;
    left: 495px;
    top: 210px;
    animation: float 6s ease-in-out infinite;
}
.v02{
    width: 1000px;
    height: auto;
    left: 1700px;
    top: 160px;
    animation: float-neg 6s ease-in-out infinite;
}
.v03
{
    width: 400px;
    height: auto;
    left: 2900px;
    top: 110px;
    animation: float 8s ease-in-out infinite;
}
.v04{
    width: 1000px;
    height: auto;
    left: 4000px;
    top: 160px;
    animation: float-neg 5s ease-in-out infinite;
}

.v05{
    width: 1000px;
    height: auto;
    left: 5550px;
    top: 160px;
    animation: float 6s ease-in-out infinite;
}
.v06{
    width: 400px;
    height: auto;
    left: 7350px;
    top: 195px;
    animation: float-neg 6s ease-in-out infinite;
}
.v07{
    width: 400px;
    height: auto;
    left: 8050px;
    top: 95px;
    animation: float-neg 7s ease-in-out infinite;
}
.v08{
    width: 400px;
    height: auto;
    left: 8750px;
    top: 195px;
    animation: float-neg 7s ease-in-out infinite;
}